
* {
    box-sizing: border-box;
}
.error {color: #FF0000;}
/*Cabecera fija, parte de abajo fijo, menu fijo horizontal*/
.header{
    background-color: lightblue;
    color: white;
    padding: 10px;
    height: 9.5%;
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.footer{
	background-color: lightblue;
    color: white;
    text-align: center;
    height: 5%;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
}
.navbar{
	position: fixed;
	top: 9.5%;
    left: 0;
    width: 100%;
    background-color: lightblue;
}
.navbar a:hover{
	background-color: pink;
}
.navbar a.active {
    background-color: #4CAF50;
}
.nbCnt ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nbCnt p{
	float:right;
	text-align: center;
	margin-bottom: 0;
	color: white;
}
.nbCnt input{
	float:right;
	text-align: center;
	margin-bottom: 0;
	color: black;
}
.nbCnt button{
	float:right;
	text-align: center;
	margin-bottom: 0;
	color: black;
}
.nbCnt img{
	float:right;
	height: 30px;
}
.nbCnt li {
    float: left;
}
li a, .dropbtn  {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color:#4CAF50;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 90px;
    float:left;
    max-width: 120px;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    width:100%;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color : lightblue;
}

.dropdown-content input:hover {background-color: #4CAF50}

.dropdown:hover .dropdown-content {
    display: block;
}
.main {
  padding-top: 7.5%;
  margin-top: 1.5%;
   
}
.main h{
	text-align:center;
}
/*Creamos las columnas y las filas para meter productos etc..*/
.row {
    margin: 8px -8px;
}
/* Add padding BETWEEN each     */
.row,
.row > .column {
    padding: 15px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
}


/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.column video{
	 width: 100%;
	 display: block;
	 margin:20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*Listas para meter las categorías e ir de una a otra*/

.categories ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:20%;
}

.categories input:hover {
    background-color: #4CAF50;
}
.categories input{
	color: black;
    padding: 12px 16px;
    width:100%;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color : lightgrey;
}
.categories li.active{
    background-color: #4CAF50;
}
/*Estrellas*/

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper-voted {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	transform: rotateX(45deg);
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {

	
	transform: rotateX(0deg);
	color: rgb(39, 130, 228);
}
.ec-stars-wrapper-voted a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	
}
#reached{
	color: rgb(39, 130, 228);
}
#notReached{
	color:#888;
}


.ec-stars-wrapper > a:hover ~ a {
	transform: rotateX(45deg);
	color: #888;
}

.estrellas{
	background: black;
	background: radial-gradient(#333, #000);
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*boton del carrito*/
.venta button{
	 text-decoration: none;
	 display : block;
	 color:white; 
	 background-color : grey;
}
.venta button:hover{
	 background-color : green;
}
.formulario{
	float:left;
    padding:40px;
    position: relative;
    left:35%;
}
.tablecontent ul{
	width: 80%;
	float: right;
}
.tablecontent table {
	width: 80%;
	float: right;
}
.tablecontent  th, td {
	padding: 10px;
	
}
.tablecontent  td {
	text-align: center;
}
.fixed{	
	top:20%;
    width: 20%;
	position: fixed;
	z-index:0;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;


    text-decoration: none;
    color: initial;
}
precio{
	color:#4d4d4d;
	font-family:verdana;
	font-size:500px;
	text-align:center;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.main img:hover{
	transform: scale(1.05);
}
.column img{
    width: 250px;
    height: 250px;
}
#contenido input:hover{
	transform: scale(1.05);
}
#ventanaEmergente{
	display:none;
	position:fixed;
	z-index:1;
	width: 100%; 
    height: 100%; 
    
    top:0;
	padding-top:10%;
	background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
}
.modal-content button{
	padding: 5px;
	display:inline-block;
}
#history{
	 overflow-y:scroll;
     overflow-x:hidden;
	 height:80%;
	 padding-bottom:30%;
}
#history p{
	position:fixed;
}
#history h1{
	float:right;
	font-size:100%;
	bottom:0;
}
.modal-content #X{
	right:25%;
	position:fixed;
}

.botoncarrito {
	float:right;
}

.tablaCarrito table {
	width: 80%;
}
.tablaCarrito  th, td {
	padding: 10px;
	
}
.tablaCarrito  td {
	text-align: center;
}
.tablaCarrito h2{
	float:right;
}
.tableinfo{
	display: none;
	z-index:1;
}
.tableinfo button{
	float:right;
}

