<!DOCTYPE html>

{% extends 'base.html'%}

{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}"/>
{% endblock extra_css %}

{% block body_block %}
<div class="main">
			<div class="row">
			<div class="column">
				<div class="content">
                    <img src={{product.image.url}}
                        alt={{product.prodSlug}}/>
					<!--imagen del producto-->
				</div>
			</div>

            <div class="column">
				<div class="content">
					<h2>{{ product.prodName }}</h2><br />
                    <a href="{% url 'product_list_by_category' product.category.catSlug %}">{{ product.category.catName }}</a><br />

                    <!--nombre del producto, salto de linea
					 categoria del producto (enlace a la pagina de categoria), salto de linea-->
                    <p>Quantity:</p>

                    <select>
                        {% for number in quantity %}
                            <option value="{{number}}">{{number}}</option>
                        {% endfor%}
                    </select>
                    <button>Add to cart</button>
                    <br>
                    {{ product.description}}
					<!--descripcion del producto-->
				</div>
			</div>
            </div>
</div>
{% endblock body_block %}