<!DOCTYPE html>

{% extends 'base.html'%}

{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}"/>
{% endblock extra_css %}

{% block body_block %}
{% if products %}
<div class="row">
    {% for product in products %}
    <div class="column">
        <img src={{product.image.url}}
            alt={{product.prodSlug}}/><br>
        <a href="{% url 'product_detail' product.id product.prodSlug %}">{{product.prodName}}</a>
    </div>
    {% endfor %}
</div>
{% else %}
<strong>No products currently in page.</strong>
{% endif %}
{% endblock body_block%}