{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}"/>
{% endblock extra_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSI - Tienda de Perfumes</title>
</head>
<body>
    <div class="header">
        <h1>Homer Perfume Page</h1>
    </div>
    <div class = "navbar">
       <div class = "nbCnt">
            <ul>
                <li><a href="{% url 'product_list'%}">Home</a></li>
                    <li class="dropdown">
                        <a href="{% url 'product_list'%}">All</a>
                        <div class="dropdown-content">
                                    {% if categories %}
                                        {% for cat in categories %}
                                        <a href="{% url 'product_list_by_category' cat.catSlug %}">{{ cat.catName }}</a>
                                        {% endfor %}
                                    {% endif %}
                        </div>
                    </li>
                <!--<li><a href='shoppingcart.html'>Carrito</a></li>-->
            </ul>
        </div>
    </div>
    <div class="main">
	    <div>
            <div class='column'>
                <div class='row'>
                    {% block body_block %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>